:root {
	--ink: #f7f7f7;
	--surface: #0e0e0e;

	--dashboard-header-background: var(--ink);
	--dashboard-header-height: 4rem;

	--transition-duration: 0.3s;
	--transition-easing: cubic-bezier(0.4, 0, 0, 1);

	--sidebar-overlay-background: var(--surface);

	--js-sidebar-transition: var(--transition-duration);
}

html, body {
	height: 100%;
}
